#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_baudcoin
#build/baudcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_baudcoin)

DEB_INSTALL_EXAMPLES_baudcoind += debian/examples/*
DEB_INSTALL_MANPAGES_baudcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix USE_IPV6=1 USE_QRCODE=1 USE_UPNP=0 baudcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f baudcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake baudcoin-qt.pro USE_QRCODE=1 USE_DBUS=1

override_dh_auto_test:
	#cd src; $(MAKE) -f makefile.unix test_baudcoin
	#src/test_baudcoin

# Ensure wrapper is set executable
binary-post-install/baudcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/baudcoind
binary-post-install/baudcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/baudcoin-qt
